/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: 'Courier New', monospace;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

/* Profile */
.profile {
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
    padding: 0 20px;
}

.profile img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-bottom: 24px;
}

.profile h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

.profile p {
    font-size: 20px;
    margin-bottom: 24px;
}

/* RED */
.social a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.social a:hover {
    opacity: 0.6;
}

/* Projects */
.works {
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 20px;
}

.works h2 {
    font-size: 24px;
    margin-bottom: 32px;
    text-align: left;
}

/* GALlery */
.gallery {
    display: flex;
    gap: 24px;
}

/* Card */
.card {
    width: 100%;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: grayscale(100%);
    border: 1px solid black;
    margin-bottom: 12px;
}

.card a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    border-bottom: 1px solid black;
}

.card a:hover {
    opacity: 0.6;
}

